{{> header}}
{{> nav}}

<h1 style="text-align: center;">ADMIN PANEL</h1>
<h3 style="text-align: center;font-style: italic;">Number of basic users: {{numberOfUsers}}</h3>
<div id="admin-logout">    
<form action="/users/admincsv" method="POST" style="margin-top: 20px;">
    <button type="submit" style="background-color: rgb(236, 84, 29);">Get All Book Csv On Mail </button>
</form>
</div>
<div id="admin-logout">    
<form action="/users/logout" method="POST" style="margin-top: 20px;">
    <button type="submit">Logout</button>
</form>
</div>
{{#if success_msg}}
<h3 style="color: green;text-align: center;">{{success_msg}}</h3>
{{/if}}
<div id="admin-user-list">
 
    {{#if users}}
    {{#each users}}
    <div class="admin-one-user-div">
        <div class="admin-one-user-info">
            <p style="font-size: 18px;"><strong>{{name}}</strong></p>
            <p>{{email}}</p>
            <p>Number of books: <strong>{{book.length}}</strong></p>
        </div>
        <hr>
        <div class="admin-one-user-delete-show">
            <div>
                <form action="/users/delete/{{_id}}" method="POST" class="delete-book">
                    <button type="submit">Delete User</button>
                </form>
            </div>
            <div>
                <a href="/users/show/{{name}}"><button class="show-user-admin">User Profile</button></a>
            </div>
            <div>
                <form action="#" method="" class="delete-book">
                    <button type="" style="background-color: rgb(255, 113, 61);">Make Admin</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}

</div>

{{> footer}}