{{> header}}
{{> nav}}
{{#if success_msg}}
<h3 style="color: green;">{{success_msg}}</h3>
{{/if}}

<h1 style="margin: 20px;">All Books </h1>

{{#if books}}
{{#each books}}

<a href="/books/show/{{name}}">
    <div id="book-div">
        <div class="title-image">
            <h2>{{name}}</h2>
            <img src="{{img}}" alt="No Image">
        </div>
        <div class="book-info">
            <p>Short Description: <strong>{{description}}</strong></p>
            <hr>
            <h3 style="text-align: center;">Enter for more information!</h3>
        </div>
    </div>
</a>

{{/each}}
{{/if}}

{{> footer}}