{{> header}}
{{> nav}}


<h1 style="margin: 20px;text-align: center;">All Books </h1>

{{#if noBooks}}
<h3 style="color: green;text-align: center;">{{noBooks}}</h3>
{{/if}}

{{#if success_msg}}
<h3 style="color: green;text-align: center;">{{success_msg}}</h3>
{{/if}}

<div class="filter-books-price">
    <h3 style="text-align: center;">Find books by filtering price &euro;</h3>
   <div>
    <form action="/books/filter" method="GET">
        <label for="fromPrice">From:</label>
        <input type="number" name="fromPrice" min="1" max="10000" required>
        <label for="toPrice">To:</label>
        <input type="number" name="toPrice" min="1" max="10000" required>
        <button type="submit" class="edit-user">Filter</button>
    </form>
    </div> 
</div>

{{#if books}}
{{#each books}}

<a href="/books/show/{{name}}">
    <div id="book-div">
        <div class="title-image">
            <h2>{{name}}</h2>
            <img src="{{img}}" alt="No Image">
        </div>
        <div class="book-info">
            <p style="text-align: center;"><strong>{{description}}</strong></p>
            <hr>
            <h3 style="text-align: center;">Enter for more information!</h3>
        </div>
    </div>
</a>

{{/each}}
{{/if}}

{{> footer}}